In [70]:
import pandas as pd
import datetime as dt
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv('/Users/alenastern/Google Drive File Stream/My Drive/Alena_Project/PR_Data/Riverside.csv')

In [15]:
df.columns

Index(['Req.Ref.Number', 'Create Date', 'Summary', 'Request Status',
       'Details'],
      dtype='object')

In [27]:
df['Create Date'] = pd.to_datetime(df['Create Date'])

In [28]:
df['month_year'] = df['Create Date'].dt.to_period('M')

In [35]:
month_count = df.groupby('month_year').count()

In [38]:
month_count.rename(index=str, columns={"Create Date": "count"}, inplace = True)

In [40]:
month_count.reset_index(inplace=True)

In [41]:
mc = month_count[['month_year', 'count']]

In [47]:
mc['city'] = 'Riverside'

In [48]:
mc['state'] = 'CA'

In [65]:
mc['odp_date'] = dt.datetime(2017,3,7)

In [59]:
mc.head()

  month_year  count       city state odp_date
0    2015-12     13  Riverside    CA  2017-03
1    2016-01     47  Riverside    CA  2017-03
2    2016-02     49  Riverside    CA  2017-03
3    2016-03     43  Riverside    CA  2017-03
4    2016-04     39  Riverside    CA  2017-03

In [66]:
mc['time']= (pd.to_datetime(mc['month_year']).dt.year - mc['odp_date'].dt.year) * 12 + pd.to_datetime(mc['month_year']).dt.month - mc['odp_date'].dt.month

In [71]:
mc['policy'] = np.where(mc['time']< 0, 0, 1)

In [76]:
mc['treatment'] = 1

In [77]:
mc.head()

  month_year  count       city state   odp_date  time  policy  treatment
0    2015-12     13  Riverside    CA 2017-03-07   -15       0          1
1    2016-01     47  Riverside    CA 2017-03-07   -14       0          1
2    2016-02     49  Riverside    CA 2017-03-07   -13       0          1
3    2016-03     43  Riverside    CA 2017-03-07   -12       0          1
4    2016-04     39  Riverside    CA 2017-03-07   -11       0          1