In [12]:
import pandas as pd
import datetime as dt
import numpy as np
import warnings
import json
import re
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
warnings.filterwarnings('ignore')

In [7]:
json_file = 'cities.json'

with open(json_file, 'r') as f:
    md = json.load(f)

{'state': 'NM', 'wwc': 'Y', 'portal_type': 'NR', 'odp': 'N', 'odp_launch': '', 'portal': 'Y', 'portal_launch': '01-01-2012'}

In [4]:
#need to add info for non-WWC cities

cities = pd.read_csv('../../../WWC_basics.csv')

In [43]:
cs = cities['City, State'].str.split(",", expand = True)
cities['city'] = cs[0] + ' city'

In [45]:
cities.head()

,"City, State",State,Pol_Lean_State,Region,Population 2015,Population,Median Income 2015,Median Income,%White 2015,% Non-White 2010 (unless noted),% White Using 2015 Data and 2010 Data if 2015 Not Available,% White,Budget_1617,Governance,Mayor,City Manager,Exec_Party,Next Election Date,City Priorities,City Priorities Source,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Lines of Work,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Focus Area,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,City POC Primary,POC Primary Email,Effective Speaker (POC),City POC Secondary,POC Secondary Email,Effective Speaker (POC).1,RFA Lead,Notes,"City, State.1",Unnamed: 77,City,city
0,"Albuquerque, NM",NM,Solid Democratic,Mountain,"559,121","556,495","$47,030","$47,030",42.10%,57.90%,42.10%,42.10%,"$526,400,000.00",Mayor-Council,Mayor Tim Keller,NaN,Democratic,11/14/17,Economic Development | Fiscal Responsibility |...,SOI Response,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,1.0,1.0,NaN,NaN,NaN,1.0,Open Data Implementation (GovEx) | Low Cost Ev...,NaN,NaN,NaN,1,NaN,NaN,NaN,1.0,NaN,NaN,"311 Calls | Reporting on Frauds, Abuse, and Wa...",NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robin Brule,rbrule@cabq.gov,Yes,Corey Cooper,cacooper@cabq.gov,NaN,Molly Daniell,NaN,"Albuquerque, NM",NaN,Albuquerque,Albuquerque city
1,"Anchorage, AK",AK,Solid Republican,Pacific,"298,695","300,950","$78,326","$78,326",66.00%,34.00%,66.00%,62.60%,"$489,800,000.00",Council-Manager,Mayor Ethan Berkowitz,City Manager Mike Abbott,Democratic,4/3/18,Land Use & Transportation | Design & Environme...,Comprehensive Plan,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,1.0,NaN,1.0,Performance Management (GovEx) | Open Data Imp...,1.0,NaN,NaN,-,1,NaN,NaN,1.0,NaN,NaN,Establishing a Citywide Framework,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Brendan Babb,babbbj@ci.anchorage.ak.us,Yes,NaN,NaN,NaN,Molly Daniell,NaN,NaN,NaN,Anchorage,Anchorage city
2,"Arlington, TX",TX,Lean Republican,West South Central,"388,125","379,577","$53,326","$105,763",59.00%,41.00%,59.00%,64.00%,"$234,400,000.00",Council-Manager,Mayor Jeff Williams,City Manager Trey Yelverton,Republican,5/6/17,Champion Great Neighborhoods | Enhance Regiona...,SOI Response,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,1.0,1.0,Performance Management (GovEx) | Open Data Imp...,1.0,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,Establishing a Citywide Framework,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jennifer Wichmann,Jennifer.Wichmann@arlingtontx.gov,NaN,NaN,NaN,NaN,Andel Koester,NaN,"Arlington, TX",NaN,Arlington,Arlington city
3,"Athens-Clarke, GA",GA,Competitive,South Atlantic,"122,604",NaN,"$32,010",NaN,65.80%,61.80%,65.80%,38.20%,"$120,700,000.00",Mayor-Council,Mayor Nancy Denson,City Manager Blaine Williams,Democratic,5/22/18,"Informed and Engaged Citizens | Healthy, Livab...",SOI Response,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,Performance Management (GovEx),1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Economic and Community Development,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jestin Johnson,jestin.johnson@athensclarkecounty.com,NaN,NaN,NaN,NaN,Andel Koester,NaN,NaN,NaN,Athens-Clarke,Athens-Clarke city
4,"Augusta, GA",GA,Competitive,South Atlantic,"197,182","197,350","$37,337","$37,337",39.10%,60.90%,39.10%,37.40%,"$788,000,000.00",Mayor-Commission,"Mayor Hardie Davis, Jr.",City Administrator Janice Allen Jackson,Democratic,11/7/17,Improve Communication Between Citizens and Ele...,Augusta Vision & Goals,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,Performance Management (GovEx) | Open Data Imp...,1.0,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,Neighborhood Revitalization | Blight | Afforda...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Tonia Gibbons,tgibbons@augustaga.gov,NaN,NaN,NaN,NaN,Zach Markovits,NaN,"Augusta, GA",NaN,Augusta,Augusta city

In [46]:
cities = cities[['city', 'State', 'Pol_Lean_State', 'Region', 'Governance', 'Budget_1617', 'Exec_Party']]

In [47]:
df = pd.read_csv('/Users/alenastern/Google Drive File Stream/My Drive/Alena_Project/PR_Data/Riverside.csv')

In [10]:
k = 'Albuquerque city'

Albuquerque

In [ ]:
for key, value in md.items():
    city = re.findall(r'([^\s]+)', key)[0]
    filepath = '/Users/alenastern/Google Drive File Stream/My Drive/Alena_Project/PR_Data/{}.csv'.format(city)
    df = pd.read_csv(filepath)
    
    df['Create Date'] = pd.to_datetime(df['Create Date'])
    df['month_year'] = df['Create Date'].dt.to_period('M')
    month_count = df.groupby('month_year').count()
    month_count.rename(index=str, columns={"Create Date": "count"}, inplace = True)
    mc = month_count[['month_year', 'count']]
    mc['city'] = key
    mc['state'] = value['state']
    if value['odp_launch'] != 
    odp_dl = value['odp_launch'].split('-')
    mc['odp_date'] = dt.datetime(odp_dl[2],odp_dl[0],odp_dl[1])
    mc['year'] = pd.to_datetime(mc['month_year']).dt.year
    portal_dl = value['portal_launch'].split('-')
    mc['odp_date'] = dt.datetime(odp_dl[2],odp_dl[0],odp_dl[1])

In [15]:
df.columns

Index(['Req.Ref.Number', 'Create Date', 'Summary', 'Request Status',
       'Details'],
      dtype='object')

In [48]:
df['Create Date'] = pd.to_datetime(df['Create Date'])

In [49]:
df['month_year'] = df['Create Date'].dt.to_period('M')

In [50]:
month_count = df.groupby('month_year').count()

In [51]:
month_count.rename(index=str, columns={"Create Date": "count"}, inplace = True)

In [52]:
month_count.reset_index(inplace=True)

In [53]:
mc = month_count[['month_year', 'count']]

In [54]:
mc['city'] = 'Riverside city'

In [55]:
mc['state'] = 'CA'

In [56]:
mc['odp_date'] = dt.datetime(2017,3,7)
mc['year'] = pd.to_datetime(mc['month_year']).dt.year

In [57]:
mc.head()

  month_year  count            city state   odp_date  year
0    2015-12     13  Riverside city    CA 2017-03-07  2015
1    2016-01     47  Riverside city    CA 2017-03-07  2016
2    2016-02     49  Riverside city    CA 2017-03-07  2016
3    2016-03     43  Riverside city    CA 2017-03-07  2016
4    2016-04     39  Riverside city    CA 2017-03-07  2016

In [58]:
mc['time']= (pd.to_datetime(mc['month_year']).dt.year - mc['odp_date'].dt.year) * 12 + pd.to_datetime(mc['month_year']).dt.month - mc['odp_date'].dt.month

In [59]:
mc['policy'] = np.where(mc['time']< 0, 0, 1)

In [60]:
mc['treatment'] = 1

In [61]:
mc.head()

  month_year  count            city state   odp_date  year  time  policy  treatment
0    2015-12     13  Riverside city    CA 2017-03-07  2015   -15       0          1
1    2016-01     47  Riverside city    CA 2017-03-07  2016   -14       0          1
2    2016-02     49  Riverside city    CA 2017-03-07  2016   -13       0          1
3    2016-03     43  Riverside city    CA 2017-03-07  2016   -12       0          1
4    2016-04     39  Riverside city    CA 2017-03-07  2016   -11       0          1

In [97]:
cd = pd.read_csv('city_data.csv')

In [19]:
cd.head()

,NAME,population,total_hh,pct_25_34,pct_hispanic,pct_white,pct_black,median_age,gross_rent,median_hh_income,pct_bachelor,state,place,year,avg_hh_size,city,state_name
0,"Birmingham city, Alabama",213434,90117.0,17.2,3.6,24.6,71.3,36.0,777,36241,16.9,1,7000,2016,2.368410,Birmingham city,Alabama
1,"Dothan city, Alabama",67714,26119.0,13.6,2.9,60.9,35.0,38.9,720,42336,14.7,1,21184,2016,2.592519,Dothan city,Alabama
2,"Hoover city, Alabama",84943,32110.0,15.3,7.6,70.9,16.7,36.6,1021,79004,34.1,1,35896,2016,2.645375,Hoover city,Alabama
3,"Huntsville city, Alabama",196225,80540.0,14.3,6.3,60.6,31.5,35.6,766,51895,25.7,1,37000,2016,2.436367,Huntsville city,Alabama
4,"Mobile city, Alabama",192895,79188.0,15.8,2.5,46.4,49.8,36.9,804,39463,18.9,1,50000,2016,2.435912,Mobile city,Alabama

In [98]:
mc['city_state'] = mc['city'] + mc['state']
cd['city_state'] = cd['city'] + cd['state_code']
mc_mg = mc.merge(cd, how ='left', on = 'city_state')

In [99]:
mc_mg = mc_mg.merge(cities, how= 'left', left_on = 'city_x', right_on = 'city')

In [100]:
# create year dummies
mc_mg['2013'] = np.where(mc_mg['year_x']== 2013, 1, 0)
mc_mg['2014'] = np.where(mc_mg['year_x']== 2014, 1, 0)
mc_mg['2015'] = np.where(mc_mg['year_x']== 2015, 1, 0)
mc_mg['2016'] = np.where(mc_mg['year_x']== 2016, 1, 0)
mc_mg['2017'] = np.where(mc_mg['year_x']== 2017, 1, 0)
mc_mg['2018'] = np.where(mc_mg['year_x']== 2018, 1, 0)

In [101]:
# create time since policy dummies
mc_mg['0_6mos_odp'] = np.where((mc_mg['time']>= 0) & (mc_mg['time']<6), 1, 0)
mc_mg['6_12mos_odp'] = np.where((mc_mg['time']>= 6) & (mc_mg['time']<12), 1, 0)
mc_mg['12_18mos_odp'] = np.where((mc_mg['time']>= 12) & (mc_mg['time']<18), 1, 0)
mc_mg['18_24mos_odp'] = np.where((mc_mg['time']>= 18) & (mc_mg['time']<24), 1, 0)
mc_mg['over_24mos_odp'] = np.where(mc_mg['time']>= 24, 1, 0)

In [102]:
# create governance dummies
mc_mg['mayor_council'] = np.where(mc_mg['Governance']== 'Mayor-Council', 1, 0)
mc_mg['council_manager'] = np.where(mc_mg['Governance']== 'Council-Manager', 1, 0)
mc_mg['mayor_commission'] = np.where(mc_mg['Governance']== 'Mayor-Commission', 1, 0)
mc_mg['commissioner_manager'] = np.where(mc_mg['Governance']== 'Commissioner-Manager', 1, 0)

In [103]:
# create state political lean dummies
mc_mg['competitive'] = np.where(mc_mg['Pol_Lean_State']== 'Competitive', 1, 0)
mc_mg['lean_dem'] = np.where(mc_mg['Pol_Lean_State']== 'Lean Democratic', 1, 0)
mc_mg['solid_dem'] = np.where(mc_mg['Pol_Lean_State']== 'Solid Democratic', 1, 0)
mc_mg['lean_rep'] = np.where(mc_mg['Pol_Lean_State']== 'Lean Republican', 1, 0)
mc_mg['solid_rep'] = np.where(mc_mg['Pol_Lean_State']== 'Solid Republicans', 1, 0)

In [107]:
riverside = mc_mg[['month_year', 'count', 'city', 'state_x', 'time', 'policy', 'treatment', 'population',
                   'median_age', 'median_gross_rent', 'median_income', 'pct_25_34', 'pct_male',
                  'pct_black', 'pct_white', 'pct_hispanic', 'pct_bachelor', 'Budget_1617', '2013', '2014', '2015',
                  '2016', '2017', '2018', '0_6mos_odp', '6_12mos_odp', '12_18mos_odp', '18_24mos_odp', 'over_24mos_odp',
                  'mayor_council', 'council_manager', 'mayor_commission', 'commissioner_manager', 'competitive',
                  'lean_dem', 'solid_dem', 'lean_rep', 'solid_rep']]

In [108]:
riverside.to_csv('riverside_clean.csv', index = False)